.cart{
    display:grid;
    grid-template-columns:5fr 2fr;
    gap:1.5rem;
}
.cart-mobile{
    display:grid;
    grid-template-columns:1fr;
}
.all-check{
    display:flex;
    align-items:center;
}
.test img{
    width:70px;
    height:100%;
}
.list-controller{
    display:flex;
    align-items:center;
    padding:0.5rem 0;
}
.list-controller .controller{
    font-weight:500;
    font-size:0.9rem;
}
.list-by-type{
    padding:1rem 0;
    border-top:1px solid black;
}
.list-by-type .type-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.list-by-type .type{
    display:flex;
    align-items: center;
}
.list-by-type .type-text{
    margin-left:1rem;
    font-weight:600;
    font-size:1.1rem;
}
.list-by-type .fold{
    display:flex;
    align-items:center;
}
.list-by-type .fold img:hover{
    cursor:pointer;
}
.list-by-type .fold input[type=checkbox]{
    display:none;
}
.list-by-type .icon{
    width:24px;
    height:24px;
    display:inline-block;
    background-size: cover;
    background-position:center center;
}
.list-by-type .cold{
    background-image: url(/image/droplet.svg);
}
.list-by-type .frozen{
    background-image: url(/image/snow.svg);
}
.list-by-type .normal{
    background-image: url(/image/sun.svg);
}
.cart-null{
    width:100%;
    height:500px;
    border-top:1px solid black;
    border-bottom:1px solid #ddd;
    position:relative;
}
.cart-null span{
    color:#ddd;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.cart-ul{
    border-bottom:1px solid #ddd
}
.cart-li{
    display:grid;
    grid-template-columns:0.5fr 1fr 7fr 1.5fr 2fr 0.5fr;
    align-items:center;
    padding:1rem 0;
    gap:1rem;
}
.cart-li-mobile{
    display:grid;
    grid-template-columns:0.1fr 7fr 0.1fr;
    align-items:center;
    padding:0.75rem 0;
    gap:1rem;
}
.cart-li-mobile .info{
    display:grid;
    grid-template-columns:70px 7fr;
    gap:1rem;
}
.cart-li label{
    margin:auto;
}
.cart-li img{
    margin:auto;
}
.cart-li .name-title .name{
    font-weight:500;
    font-size:0.95rem;
}
.cart-li .name-title .title{
    font-size:0.85rem;
    color:rgb(153,153,153)
}
.cart-li .price{
    text-align:right;
    font-weight:600;
}
.cart-li-mobile .price{
    font-weight:600;
    font-size:1.25rem;
}
.price span{
    display:block;
}
.cart-li .price .discount{
    text-align:right;
    font-weight:400;
    font-size:0.85rem;
    color:rgb(153,153,153);
    text-decoration:line-through;
}
.delete{
    text-align:center;
}
.payment{
    padding-top:2.5rem;
}
.payment .bar{
    position: sticky;
    top:2rem;
}
.payment .bar .total-price-div{
    display:grid;
    position: sticky;
    top:2rem;
    border:1px solid rgb(242, 242, 242);
    padding:0 1rem;
    background: rgb(250, 250, 250);
}
.payment .bar .order-btn{
    border:1px solid #0d6efd;
    background: #0d6efd;
    color:white;
    width:100%;
    padding:1rem 0;
    border-radius:0.25rem;
    margin:1rem 0;
    font-weight:700;
    font-size:1.05rem;
}
.payment .bar .total-payment{
    border-top:1px solid rgb(242, 242, 242);
}
.payment .bar .total-display{
    display:flex;
    justify-content:space-between;
    margin:0.75rem 0;
}
.payment .bar .total-display .price{
    font-size:1.1rem;
}
.payment .bar .total-display .total{
    font-size:1.1rem;
    font-weight:700;
}


