.ui-set{
    display:grid;
    grid-template-columns:1fr 2fr;
    gap:1rem;
}
.ui-set-mobile{
    display:grid;
    row-gap:2rem;
}
.ui-form-ul{
    border-bottom:1px solid #ddd;
    margin-top:0.5rem;
}
.ui-form-li{
    display:grid;
    grid-template-columns:6fr 1.5fr 1fr;
    align-items:center;
    width:100%;
    border-top:1px solid #ddd;
    padding:.5rem;
}
.ui-form-li-controller{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
}
.ui-form-li-controller button{
    border:none;
    background:none;
}
.ui-setting{
    display:grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.form-add{
    width:100%;
    display:grid;
    grid-template-columns:1fr 60px;
    gap:0.5rem;
    align-items:center;
}
.ui-add{
    display:flex;
    justify-content:right;
    position: relative;
}
.ui-form-add{
    position: absolute;
    top:100%;
    right:0;
    min-width:200px;
    max-width:600px;
    max-height:300px;
    overflow:auto;
    background: white;
    border:1px solid #ddd;
    padding:0.25rem;
}
.ui-form-add *{
    width:100%;
}
.ui-form-add img{
    height:125px;
}
.ui-management-ul{
    height:200px;
    overflow:auto;
    border:1px solid #ddd;
    margin:0.5rem 0;
}
.ui-management-li{
    display:flex;
    align-items:center;
    margin:0.5rem 0;
    justify-content:space-between;
    padding:0 0.5rem;
}
.ui-management-li-label{
    display:flex;
    align-items:center;
}
.ui-delete-li{
    display:flex;
    align-items:center;
    background:none;
    border:0;
}
.ui-management-li span{
    font-size:0.9rem;
}
.ui-management-lo-ul{
    height:150px;
    overflow:auto;
}
.ui-management-lo-li{
    display:flex;
    align-items:center;
    justify-content: left;
}
.ui-management-lo-li input[type=checkbox]{
    width:10%;
}
.ui-management-lo-li span{
    display:block;
    width:150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:0.9rem;
}
.ui-management-lo-checked{
    display:grid;
    row-gap:0.5rem;
    overflow:auto;
    height:150px;
    margin:0.5rem 0;
    border:1px solid #ddd;
}
.ui-management-lo-checked span{
    font-size:0.75rem;
}