.collection{
    display:grid;
    grid-template-columns:1.5fr 6fr;
    gap:3rem;
}
.collection-mobile{
    display:grid;
    grid-template-columns:1fr;
    position:relative;
}
.result-title{
    font-size:1.75rem;
    margin:3rem auto;
    font-weight:500;
}
.result-title .keyword{
    color:#0d6efd;
}
.result-is-null{
    position:relative;
    width:100%;
    min-height:500px;
}
.result-is-null span{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:rgb(151,151,151)
}
.product-sort{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:50px;
}
.product-sort .sort-list{
    display:flex;
    align-items:center;
}
.product-sort .sort{

}
.product-sort .sort span{
    color:#ddd;
    font-size:0.85rem;
    font-weight:500;
}
.filter .filter-reset{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:50px;
}
.filter-reset span{
    font-weight:500;
}

.reset-btn{
    display:flex;
    align-items:center;
}
.reset-btn span{
    font-size:0.9rem;
    color:#ddd
}
.reset-btn svg{
    fill:#ddd
}
.reset-btn-active{
    display:flex;
    align-items:center;
}
.reset-btn-active span{
    font-size:0.9rem;
    color:rgb(51,51,51)

}
.reset-btn-active svg{
    fill:rgb(51,51,51)

}
.product-sort .sort input[type='radio']{
    display:none;
}
.product-sort .sort input[type='radio']:checked + span{
    color:rgb(51,51,51);
}
.collection .product-list{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
    row-gap:3rem;
}
.collection-mobile .product-list{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:0.5rem;
    row-gap:1.5rem;
}
.category .product-list{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
}
.category-mobile .product-list{

}
.product-list img{
    width:100%;
    height:auto;
}
.product-list .delivery{
    font-size:0.85rem;
    color:rgb(181,181,181);
    margin:0.25rem 0 0 0;
}
.product-list .name{
    font-size:0.9rem;
    margin:0.25rem 0 0 0;
}
.product-list .title{
    color:rgb(181,181,181);
    font-size:0.75rem;
    margin:0.25rem 0 0 0;
}
.product-list .discount{
    font-weight:600;
    font-size:1rem;
    color:rgb(250,98,47);
}
.product-list .price{
    font-weight:600;
    font-size:1rem;
}
.product-list .line-through{
    color:rgb(181,181,181);
    font-size:0.9rem;
    text-decoration: line-through;
}
.filter-label{
    display:flex;
    align-items:center;
}
.filter-fold{
    display:flex;
    align-items:center;
}
.filter-fold input[type=checkbox]{
    display:none;
}
.list{
    display:grid;
    grid-template-columns:18px 3fr;
    gap:0.5rem;
    align-items:center;
    margin:0.75rem 0;
}
.list *{
    display:block;
    line-height:18px;
}
.list .category-name{
    font-size:0.9rem;
    margin-right:0.25rem;
}
.list .category-name:hover{
    color:#0d6efd;
}
.list .category-length{
    font-size:0.75rem;
    color:#ddd;
}
.list input[type=checkbox]{
    display:none;
}
.list .check-circle{
    border-radius:9px;
    width:18px;
    height:18px;
    border:1px solid #ddd;
    position:relative;
    margin-right:0.5rem;
}
.list .check-circle svg{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    fill:#ddd;
}
.list input[type=checkbox]:checked + .check-circle{
    border:1px solid #0d6efd;
}
.list input[type=checkbox]:checked + .check-circle svg{
    fill:#0d6efd;
}

.pagination{
    display:flex;
    margin:4rem auto;
    border-left:1px solid #ddd;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.page-btn{
    padding:0.25rem 0.75rem;
    background:none;
    border-right:1px solid #ddd;
}
.page-btn:hover{
    background:rgb(247, 247, 247);
}
.page-btn-active{
    padding:0.25rem 0.75rem;
    color:#0d6efd;
    background:rgb(247, 247, 247);
    border-right:1px solid #ddd;
}
.img-div{
    position:relative;
}
