.recommend-topic{
    padding:1rem 0;
    margin:1rem 0;
}
.title-div{
    display:flex;
    justify-content:space-between;
    padding:0 0.75rem;
    align-items:center;
}
.topic{
    border-bottom:1px solid #ddd;
    padding-bottom:0.5rem;
}
.topic .topic-img{
    width:100%;
    height:auto;
}
.content{
    color:rgb(102,102,102);
}
.product-nav{
    display:grid;
    padding:1rem 0;
    row-gap:0.5rem;
}
.product-li{
    display:grid;
    grid-template-columns:0.175fr 1fr 75px;
    gap:0.5rem;
}
.product-li img{
    min-width:50px;
    width:100%;
    height:auto;
    border-radius:0.5rem;
}
.name{
    font-weight:400;
    display:block;
    width:100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.price-area{
    display:flex;
    align-items:center;
}
.discount{
    color:rgb(250, 98, 47);
    font-weight:600;
    margin-right:0.5rem;
    font-size:0.95rem;
}
.price{
    font-weight:600;
    margin-right:0.5rem;
    font-size:0.95rem;
}
.cancel-price{
    color:#ddd;
    text-decoration: line-through;
    font-size:0.9rem;
}
.cart-btn{
    display:flex;
    align-items: center;
}
.product-cart{
    width:100%;
    border:1px solid #ddd;
    background:white;
    border-radius: 0.25rem;
    padding:0.5rem 0.75rem;
}
.all-view{
    width:100%;
    border:1px solid rgb(244, 244, 244);
    background:rgb(244, 244, 244);
    padding:1rem 0;
    border-radius:0.25rem;
}