.product-add{

}
.product-add .tsp-div{

}
.product-add .tsp-div div{
    padding:0.5rem 0;
}
.product-add .set-option{

}
.product-add .set-product{
    display:grid;
    grid-template-columns:40% 60%;
}
.product-add .set-product input[type='file']{
    display: none;
}
.product-add .set-product .set-product-img{
    width:100%;
    height:500px;
}
.product-add .set-product .set-product-img:hover{
    cursor: pointer;
}
.product-add .set-product .set-product-info{
    padding:0 0.5rem
}

.product-add .set-product .set-product-option{
    display:grid;
    grid-template-columns:30% 60% 10%;
    margin:0.5rem 0
}
.product-add .set-product .set-product-option *{

}
.product-add .set-product .set-product-option div{
    padding-right:0.5rem;
}
.product-add .set-product .set-product-option div input{
    margin-bottom:0.5rem;
}
.product-add .set-product .set-product-option div button{
    width:100%;
    height:30px;
    border:0;
    background:0;
}
.product-add .price-div{
    display:grid;
    grid-template-columns:50% 25%;
    box-sizing: content-box;
    gap:1rem;
}
.product-add .price-div div{
    display:flex;
    align-items:center;
    color:#ddd;
    padding:0;
}
.product-add .price-div div span{
    color:#ddd;
}