.cart{
    display:grid;
    grid-template-columns:80% 20%;
}
.chk_controller{
    display:flex;
}
.select_delete{
    height:24px;
    margin:0 0.5rem;
    font-weight:600;
}
.cart_list{
    display:grid;
    grid-template-columns:5% 15% 45% 15% 20%;
    align-items:center;
    margin:1rem 0;
    width:100%;
}