.header{
    width:1024px;
    margin:auto;

}
.search{
    display:grid;
    grid-template-columns:85% 15%;
    align-items:center;
    border:1px solid black;
    padding:0.25rem;
    border-radius:0.5rem;
}
.search .option{
    display:flex;
    justify-content:space-around;
}
.search input{
    border:0;
    padding:0.5rem;
    font-size:1rem;
    width:100%;
    max-width:275px;
}
.search input:focus{
    outline:none;
}
.search button{
    border:0;
    background:none;
}
@media(max-width:1024px)
{
    /*.header{*/
    /*    width:100%;*/
    /*}*/
}
.header .header_top{
    display:grid;
    grid-template-columns:32.5% 35% 32.5%;
    align-items:center;
    justify-content: space-between;
    border-bottom:1px solid black;
    width:1024px;
    margin:auto;
    padding:0.5rem 0;
}
.header .header_bottom{
    display:grid;
    grid-template-columns:20% 60% 20%;
    text-align: center;
}
.header .header_bottom .category{
    text-align:left;
    display:flex;
    align-items:center;
}
.header .header_bottom .menu{
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
    text-align: center;
}
.header .user_menu{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.header .user_menu_list{
    width:40%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .user_menu .member{

}
.header .user_menu .like{

}
.header .user_menu .cart{

}