.image_slider{
    overflow:hidden;
    position: relative;
}
.slider{
    transition: all 0.5s;
}
.slider img{
    width:100vw;
    height:400px;
    float:left;
}
.pre_btn{
    position: absolute;
    top:50%;
    left:5%;
}
.next_btn{
    position: absolute;
    top:50%;
    right:5%;
}
.home{
    display:grid;
    grid-column: auto;
    width:1080px;
    margin:auto;

}
@media(max-width:1080px)
{
    .home{
        width:100%;
    }
}