.product{
    width:1024px;
    margin:auto;
    padding-bottom:5rem;
    text-align:center;
}
.product .option{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0.75rem;
}
.product_content{
    width:100%;
    display:grid;
    grid-template-columns:25% 75%;
}
.product_content .filter{

}
.product_content .products{
    display:grid;
    grid-template-columns: repeat(3, minmax(33.3%, auto));
    text-align:left;
}
.product_content .products .product_div{
    padding:0.75rem;
    margin-bottom:1.25rem;
}
.product_content .products img{
    width:100%;
    height:250px;
}
.product_content .products .product_div .product_name{
    font-size: 16px;
    color:rgb(51, 51, 51);
}
.product_content .products .product_div .product_subname{
    margin:0.25rem 0;
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.filter .filter_category{
    display:flex;
    user-select: none;
    text-align:left;
    align-items:center;
    padding:0.25rem;
}
.filter_category input[type=checkbox]{
    display:none;
}
.filter_category span{
    margin:0.25rem;
}
.filter_category .span_checkbox{
    width:18px;
    height:18px;
    border-radius:10px;
    text-align: center;
    border:1px solid black;
}
.filter_category input[type=checkbox]:checked + span{
    color:red;
    border:1px solid red;
}