.content{
    width:1024px;
    margin:auto;
    padding:1.5rem 0;
}
.checkbox{
    display:flex;
    align-items:center;
}
.checkbox input[type='checkbox']{
    display:none;
}
.checkbox input[type='checkbox'] + span{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    fill:#ddd;
    border-radius:14px;
    border:1px solid #ddd;
    background:#fff;
}
.checkbox input[type='checkbox']:checked + span{
    fill:white;
    border:1px solid #0d6efd;
    background:#0d6efd;
}
.checkbox div{
    height:24px;
    margin:0 0.5rem;
    font-weight:600;
}
.sign_or{
    color:#ddd;
}
.input-text{
    width:100%;
    box-sizing:border-box;
    border:1px solid #ddd;
    border-radius:0.5rem;
    height:35px;
    padding:0.5rem;
}
.input-text:focus{
    outline:none;
}
.textarea{
    width:100%;
    box-sizing : border-box;
    border:1px solid #ddd;
    border-radius:0.5rem;
    height:60px;
    padding:0.5rem;
    resize:none;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    color:#333;
}
.textarea:focus{
    outline:none;
}

.button{
    width:100%;
    color:#0d6efd;
    border:1px solid #0d6efd;
    background: white;
    height:35px;
    border-radius:0.5rem;
}
.button:hover{
    cursor:pointer;
}
.button:active{
    cursor:pointer;
}
.onff-btn{

}
.onff-btn input[type='checkbox']{
    display:none;
}
.onff-btn span{
    padding:0.5rem;
}
.input-unit{
    border:1px solid #ddd;
    box-sizing: border-box;
    padding:0.125rem;
    display:flex;
    align-items:center;
    height:35px;
    border-radius:0.5rem;
}
.input-unit input{
    margin:0 0.25rem;
    box-sizing: border-box;
    border:0;
    width:100%;
}
.input-unit input:focus{
    outline:none;
}
.input-unit span{
    color:#ddd;
    font-size:14px;
}
.select-div{
    border:1px solid #ddd;
    box-sizing: border-box;
    padding:0.125rem;
    display:flex;
    align-items:center;
    height:35px;
    border-radius:0.5rem;
}
.select-div select{
    width:100%;
    border:0;
    margin:0 0.125rem;
    height:100%;
}
.select-div select:focus{
    outline:none;
}
.select-div button{
    margin:0 0.25rem;
    border:0;
    background:0;
    height:100%;
    position:relative;
}
.select-div button img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}