.content{
    width:1024px;
    margin:auto;
}
.checkbox{
    display:flex;
    align-items:center;
}
.checkbox input[type='checkbox']{
    display:none;
}
.checkbox input[type='checkbox'] + span{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    fill:#ddd;
    border-radius:14px;
    border:1px solid #ddd;
    background:#fff;
}
.checkbox input[type='checkbox']:checked + span{
    fill:white;
    border:1px solid #0d6efd;
    background:#0d6efd;
}
.checkbox div{
    height:24px;
    margin:0 0.5rem;
    font-weight:600;
}
.sign_or{
    color:#ddd;
}
.input-text{
    width:100%;
    box-sizing : border-box;
    border:1px solid #ddd;
    border-radius:0.5rem;
    height:35px;
    padding:0.5rem;
}
.input-text:focus{
    outline:none;
}
.button{
    width:100%;
    border:1px solid #ddd;
    background: white;
    height:35px;
    border-radius:0.5rem;
}
.button:hover{
    cursor:pointer;
}
.button:active{
    cursor:pointer;
}
.onff-btn{

}
.onff-btn input[type='checkbox']{
    display:none;
}
.onff-btn span{
    padding:0.5rem;
}