.discount{
    font-weight:500;
    font-size:16px;
    color:rgb(250,98,47);
}
.price{
    font-weight:500;
    font-size:16px;
}
.line-through{
    color:rgb(181,181,181);
    font-size:14px;
    text-decoration: line-through;
}