@font-face {
    font-family:"Noto Sans";
    src: url("../styles/font/noto/NotoSansKR-Thin.woff2") format('woff2');
    font-weight:100;
}
@font-face {
    font-family:"Noto Sans";
    src: url("../styles/font/noto/NotoSansKR-Light.woff2") format('woff2');
    font-weight:300;
}
@font-face {
    font-family:"Noto Sans";
    src: url("../styles/font/noto/NotoSansKR-Regular.woff2") format('woff2');
    font-weight:400;
}
@font-face {
    font-family:"Noto Sans";
    src: url("../styles/font/noto/NotoSansKR-Medium.woff2") format('woff2');
    font-weight:500;
}
@font-face {
    font-family:"Noto Sans";
    src: url("../styles/font/noto/NotoSansKR-Bold.woff2") format('woff2');
    font-weight:700;
}
@font-face {
    font-family:"Noto Sans";
    src: url("../styles/font/noto/NotoSansKR-Black.woff2") format('woff2');
    font-weight:900;
}
body{
    overflow:auto;
    margin:0;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
pre{
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    margin:0;
    white-space:pre-wrap;
}
select{
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
textarea{
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-weight:normal;
}
input{
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}
button:focus{
    outline:none;
}
h2{
    /*margin:0;*/
}
*{
    color:rgb(51,51,51);
    user-select:none;
    white-space:pre-wrap;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
h4{
    margin:0
}
button:hover{
    cursor:pointer;
}
.dragging{
    background:rgba(0,0,0,0.25);
}