.slider{
    width:100%;
    overflow:auto;
    display:grid;
    grid-template-columns: repeat(20,calc(40vw));
    gap:0.5rem;
}
.test-img{
    background: #333333;
    border:1px solid red
}
.product{
    display:block;
    flex-shrink:0;
}
.product img{
    width:100%;
    max-width:calc(40vw);
    height:auto;
}
.img-div{
    position:relative;
}
.discount{
    font-weight:500;
    font-size:16px;
    color:rgb(250,98,47);
}
.price{
    font-weight:500;
    font-size:16px;
}
.line-through{
    color:rgb(181,181,181);
    font-size:14px;
    text-decoration: line-through;
}